In [2]:
# Import library
import pandas  as pd #Data manipulation
import numpy as np #Data manipulation
import matplotlib.pyplot as plt # Visualization
import seaborn as sns #Visualization

In [3]:
classification_data = pd.read_csv('classification.csv', sep = ',')
classification_data.head()

         x1        x2  y
0  4.714274  0.989079  2
1  1.661432  6.846034  2
2  1.360534  3.359866  2
3  1.720238  2.021597  2
4  4.959555  8.563527  1

In [4]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, r2_score

In [ ]:
import random
for i in range(10):
    random.seed(i)
    # shuffle data for 10 time
#!!!!Don't delete frac = 1
### For information about frac = 1, see this website: https://stackoverflow.com/questions/29576430/shuffle-dataframe-rows
    shuffeled_data =regression_data.sample(frac=1).reset_index(drop = True)